Django>=5.2,<6.0
python-dotenv>=1.0
Pillow>=10.0
sphinx>=7.0
sphinx-rtd-theme>=2.0
myst-parser>=2.0
sphinx>=7.0
sphinx-rtd-theme>=2.0
myst-parser>=2.0
pdfplumber>=0.11.10
groq>=1.7.0
requests>=2.32.0
